body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

#page-title {
  text-align: center;
  margin-bottom: 5px;
}

.smaller {
  font-size: 0.7em;
}

#placeholder-text {
  text-align: center;
  margin-top: -80px;
}

#instructions {
  text-align: center;
  margin: 0px 30%;
  margin-bottom: 10px
}

#wrapper, #parallel {
  width: 700px;
  display: inline-block;
  vertical-align: top;
}

#genre-filter {
  margin: auto 0px;
  margin-bottom: 20px;
}

#details {
  background-color: lightgrey;
  height: 250px;
  padding: 10px;
  margin-left: 20px;
  width: 600px;
}

#details-poster {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}

#details-text {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

img {
  max-height: 230px;
}

#title {
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: 1.4em;
  text-transform: uppercase;
}

#starplot {
  height: 250px;
}

.progress {
  margin-top: 10px;
  display: none;
  width:150px;
}

#details-cast, #details-budget {
  display: inline-block;
  vertical-align: bottom;
}

#details-budget {
  margin-left: 30px;
}

circle {
  opacity: 0.5;
  fill: darkblue;
  stroke: none;
}

.hidden-circle {
  opacity: 0.1;
  fill: grey;
  stroke: none;
}

.hover-circle {
  opacity: 1;
  fill: green;
  stroke: green;
  stroke-width: 2px;
}

.pc-entry {
  opacity: 0.1;
  stroke: grey;
  fill: none;
}

.fg-pc-entry {
  opacity: 0.4;
  stroke: darkblue;
  stroke-width: 2px;
  fill: none;
}

.hover-pc-entry {
  opacity: 1;
  stroke: green;
  stroke-width: 6px;
  fill: none;
}

#score-bar {
  text-align: left;
  color: black;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 10;
}

.budget-label {
  font-size: 0.7em;
  /* fill: white; */
  font-weight: bold;
}

.btn.active {
  color: #fff;
  background-color: darkgreen !important;
  border-color: darkgreen !important;
}
