body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

#wrapper, #parallel {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

#genre-filter {
  margin: auto 0px;
  margin-bottom: 20px;
}

#details {
  background-color: lightgrey;
  height: 250px;
  padding: 10px;
}

#details-poster {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

#details-text {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

img {
  max-height: 250px;
}

#title {
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: 2em;
  text-transform: uppercase;
}

#starplot {
  height: 250px;
}

circle {
  opacity: 0.5;
  fill: darkblue;
  stroke: none;
}

.hidden-circle {
  opacity: 0.1;
  fill: grey;
  stroke: none;
}

.pc-entry {
  opacity: 0.1;
  stroke: grey;
  fill: none;
}

.fg-pc-entry {
  opacity: 0.5;
  stroke: darkred;
  fill: none;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 10;
}
